{% load crispy_forms_tags %} 
{% load crispy_forms_tags %}
{% if perms.task.task_management %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-task-modal">Add task</button>
{% endif %}
<!-- Ajout du modal contenant le formulaire -->
<div class="modal fade" id="add-task-modal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">New task</h4>
                <button type="button" class="close" data-dismiss="modal">
                <i class="fa fa-close"></i></button>
            </div>
         <div class="modal-body">
            <form
                id="create-form" 
                onsubmit="$('#create-form *').removeAttr('disabled');" 
                action="{% url 'task:create' %}" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary" type="submit">Créer</button>
            </form>
         </div>
                
    </div>
</div>
</div>